nav {
    background-color: #2f2f2f;
    display: flex;
    justify-content: space-between;
    color: #fff;
    padding: 1rem 2rem;

    ul{
        flex-wrap: wrap;

        li{
            display: inline-block;
            margin-left: 2rem;
        }
    }
}