li{
    list-style: none;
}

main{
    background-color: bisque;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        padding: 40px;

}


           

nav {
    
    background-color: #2f2f2f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 1rem 4rem;
    grid-area: nav nav nav;
} 

    ul{
        flex-wrap: wrap;

        
    }



#gs{
    display: flex;
    
    li{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        h2{
            width: 100%;}
        
        img{
            width: 50%;
            height: auto;

        }
    }
}